body {
color: hsl(170,10%,80%);
background-color:#222;
}

header h1, header p, header a {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: lighter;
}

p {
    font-size: 120%;
}

a {
    color: hsl(170,80%,50%);
} 

header p {
    margin:30px;
}

h1 {
font-size: 180%;
}

h2 {
font-size: 120%;
padding-bottom: 5px;
}

h1, h2, h3 {
    color: hsl(170,80%,40%);
}


header, main {
    max-width:900px;
    margin:0px auto;
    padding:20px;
}

@media only screen and (max-width: 600px) {
    header, main {
        max-width:100%;
        margin:0px auto;
        padding:0px;
    }
    
    header {
        padding-bottom:20px;
    }
}


header {
    margin-top:20px;
}

header {
    text-align: center;
}

.header-footer {
    margin-top:20px;
}

header a {
    padding:10px;
    text-transform:uppercase;
    color: #fff;
    text-decoration: none;
    background:hsl(170,50%,20%);
    letter-spacing:2px;
}

header a:hover {
    background:hsl(170,50%,5%);
    color:hsl(170,50%,50%);
}

blockquote, pre {
    margin:0px;
    padding:10px;
}

code, blockquote, pre {
    overflow-x:  auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap:   break-word;
    background-color:hsl(150,50%,5%);
    color: hsl(170,60%,40%);
    font-size:110%;
}
