body {
color: #839496;
background-color:#002b36;
}

header h1, header p, header a {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: lighter;
}

a {
    color: #859900;
} 

header p {
    margin:30px;
}

h1 {
font-size: 180%;
}

h2 {
font-size: 120%;
padding-bottom: 5px;
}

h1, h2 {
    color:#268bd2;
}


header, main {
    max-width:900px;
    margin:0px auto;
    padding:20px;
}

header {
    margin-top:20px;
}

header {
    text-align: center;
}

.header-footer {
    margin-top:20px;
}

header a {
    padding:10px;
    text-transform:uppercase;
    color: #dc322f;
    text-decoration: none;
    background:#073642;
    letter-spacing:2px;
}

header a:hover {
    background:#268bd2;
    color: #fdf6e3;
}

blockquote, pre {
    margin:0px;
    padding:10px;
}

code, blockquote, pre {
                overflow-x: auto;
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
    background-color:#073642;
    color: #657b83;
}
