* {
margin:0px;
padding:0px;
font-family: 'Helvetica', 'Arial', sans-serif;
font-weight: lighter;
list-style: none;

}

body {
background-color:rgb(255, 255, 255);
}

/*General tags */
h1 {
font-size: 180%;
}

h2 {
font-size: 120%;
padding-bottom: 5px;
}

h1, h2 {
    color:#222;
}

ul {
    width:100%;
    margin-bottom: 10px;
}

p, li {
    padding-left: 20px;
}

#hash {
    word-break: break-all;
    font-family: monospace;
    font-variant-position: sub;
}

li {
    width:95%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #444;
}

a {
color:rgb(255, 126, 6);
text-decoration: none;
padding:1px;
}

a:visited {
    color:rgb(255, 126, 6);
}

a:hover {
    filter:invert(100%);
}


.bookrating {
    white-space: nowrap;
}
.bookrating img{
    width:20px;
    height:auto;
    filter: grayscale(1);
}

/* Alignments and containers */

header, main {
    max-width:900px;
    margin:0px auto;
    padding:20px;
}

header {
    margin-top:20px;
}

header .container {
    width: 100%;
    text-align: center;
}

.left {
    padding-right:20px;
}

.right {
   text-align: right;
   color: #777;
}

.container {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    border-radius: 50%;
    width:25%;
    min-width: 200px;
    height:auto;
    filter: sepia(0.15);
    margin-bottom: 20px;
}
