---
---

<!doctype html>
<html>
<head>
<title>Johan Andersson</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/index.css">
<link rel="stylesheet" type="text/css" href="/global.css">
</head>
<body>
    {% include header.html %}
    <main>
        <section>
            <ul>
                <li>
                    <span class="left">
                        free time fun
                    </span>
                    {% for i in (1..10) %}
                        <div></div>
                    {% endfor %}
                </li>
                {% for project in site.data.projects %}
                <li>
                    <a href="{{project.url}}">
                        <span class="left">
                            {{project.title}}
                        </span>
                        <span class="right">
                            {{project.description}}
                        </span>
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% assign nbrposts = site.posts | size %}
            <ul>
                <li>
                    <span class="left">
                        blog posts
                    </span>
                </li>
                {% if nbrposts == 0 %}
                <li>
                    <span class="left">
                        sorry, no posts yet
                    </span>
                </li>
                {% endif %}
                {% for post in site.posts %}
                <li>
                    <a href="{{ post.url }}">
                        <span class="left">
                            {{ post.title }}
                        </span>
                        <span class="right">
                            {{post.date | date_to_string}}
                        </span>
                    </a>
                  </li>
                {% endfor %}
            </ul>
            <ul>
                <li>
                    <span class="left">
                        social
                    </span>
                </li>
                {% for platform in site.data.social %}
                        <li>
                            <a href="{{platform.url}}">
                                <span class="left">
                                    {{platform.name}}
                                </span>
                            </a>
                        </li>
                {% endfor %}
            </ul>
            <ul>
                <li>
                    <span class="left">
                        recently read books
                    </span>
                </li>
                {% for book in site.data.books %}
                    <li>
                        <span class="left">
                            {{ book.author }}: {{ book.title }} [{{ book.lang }}]
                        </span>
                        <span class="right">
                            {{book.date | date_to_string}}
                            <span class="bookrating">{{book.rating}}</span>
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </main>

    <script>
        let ratings = document.getElementsByClassName("bookrating");

        for (x = 0; x < ratings.length; x++) {
            let rating = Number.parseInt(ratings[x].innerHTML);
            ratings[x].innerHTML = '';
            for (i = 0; i < 5; i++) {
                if (i < rating) {
                    ratings[x].innerHTML += '<span class="rating-filled">👏</span>';
                }
                else {
                    ratings[x].innerHTML += '<span class="rating-unfilled">👏</span>';
                }
            }
        }
    </script>
</body>
</html>
