---
---

<!doctype html>
<html>
<head>
<title>Johan Andersson</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body>
    <header>
        <div class="container">
            <img src="https://avatars1.githubusercontent.com/u/17073827?s=460&v=4">
        </div>
        <div class="container">
            <section>
                    <h1>Johan Andersson</h1>
                    <p>4th year Computer Science student in Lund.</p>
					<p>Want to get in touch? </p>
					<a class="alert" href="mailto:dat14jan@student.lu.se">Send an email!</a>
            </section>
                
        </div>
    </header>

    <main>
        <section>
            <h2>I like to ...</h2>
            <ul>
				{% for thing in site.data.interests %}
					<li>{{thing}}</li>
				{% endfor %}
            </ul>
            <h2>I want to ...</h2>
            <ul>
				{% for thing in site.data.todo %}
					<li>{{thing}}</li>
				{% endfor %}
            </ul>
            <h2>Free time projects </h2>
            <ul>
				{% for project in site.data.projects %}
						<li>
							<span class="left">
								<a href="{{project.url}}">{{project.title}}</a>
							</span>
							<span class="right">
								{{project.description}}
							</span>
						</li>
				{% endfor %}
			</ul>
			{% assign nbrposts = site.posts | size %}
			{% unless nbrposts == 0 %}
				<h2>Blog posts: </h2>
			{% endunless %}
			<ul>
				{% for post in site.posts %}
				<li>
					<span class="left">
						<a href="{{ post.url }}">{{ post.title }}</a>
					</span>
					<span class="right">
						{{post.date | date_to_string}}
					</span>
				  </li>
				{% endfor %}
			</ul>
			<h2>Recently read books: </h2>
			<ul>
				{% for book in site.data.books %}
					<li>
						<span class="left">
							{{ book.author }}: {{ book.title }}
						</span>
						<span class="right">
							{{book.date | date_to_string}}
							<span class="bookrating">{{book.rating}}</span>
						</span>
					</li>
				{% endfor %}
			</ul>
			<h2>You can find me on: </h2>
            <ul>
				{% for platform in site.data.social %}
					{% if platform.id == null %}
						<li><a href="{{platform.url}}">{{platform.name}}</a></li>	
					{% else %}
						<li><a href="{{platform.url}}">{{platform.name}}</a><div class="right" id=hash> {{platform.id}}</div></li>
					{% endif %}
				{% endfor %}
			</ul>
		</section>
	</main>
	
	<script>
		var ratings = document.getElementsByClassName("bookrating");

		for (x = 0; x < ratings.length; x++) {
			let rating =Number.parseInt(ratings[x].innerHTML);
			ratings[x].innerHTML = '';
			for (i = 0; i < 5; i++) {
				if (i < rating) {
					ratings[x].innerHTML += "<img src=fruit-filled.png>";
				}
				else {
					ratings[x].innerHTML += "<img src=fruit.png>";
				}
			}
		}
	</script>
</body>
</html>