* {
margin:0px;
padding:0px;
font-family: 'Helvetica', 'Arial', sans-serif;
font-weight: lighter;
list-style: none;
}


ul {
    width:100%;
    margin-bottom: 10px;
}

li {
    color:#444;
    background:#eee;
    min-height:30px;
    border-bottom: 1px solid #666;
    border-right: 1px solid #666;
    align-items:center;
    margin-bottom:2px;
}

ul li:first-child {
    background:#E8970C;
    color:#444;
}

a {
    text-transform:uppercase;
    color:#444;
    text-decoration: none;
    background:#ccc;
    letter-spacing:2px;
}

a:hover {
    filter:sepia(80%);
    box-shadow:2px 5px #444;
}

li, li a {
    text-transform:uppercase;
    display: flex;
    justify-content: space-between;
    width:100%;
}

.left {
    padding:10px;
    padding-left:20px;
}

.right {
    padding:10px;
    text-align: right;
    color: #777;
    text-transform:lowercase;
}

.bookrating {
    width:20px;
    height:auto;
}

.rating-filled {
    filter: grayscale(0.1);
}

.rating-unfilled {
    filter: grayscale(1);
}
