* {
margin:0px;
padding:0px;
font-family: 'Helvetica', 'Arial', sans-serif;
font-weight: normal;
list-style: none;
}


ul {
    margin-bottom: 10px;
    grid-colum: span 1;
}

li {
    color: hsl(170,10%,80%);
    background:hsl(170,10%,10%);
    min-height:30px;
    display:flex;
    align-items:center;
    margin-bottom:2px;
}

ul > *:first-child {
    background: hsl(170,50%,20%);
    color: #fff;
}

a {
    text-transform:uppercase;
    text-decoration: none;
    letter-spacing:2px;
}

a:hover span {
    color:hsl(170,50%,50%);
}

a:hover {
    background:hsl(170,50%,5%);
}

li, li a {
    text-transform:uppercase;
    width:100%;
}

li a {
    display: inline-grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    justify-content: space-between;
}

main {
    max-width:100%;
}

main > section {
    max-width:100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-gap: 20px;
}

.blog-posts {
}

.fun {
}

.social {
}

.books {
}

.left {
    padding:10px;
    padding-left:20px;
}

.right {
    padding:10px;
    text-align: right;
    color:hsl(170,30%,40%);
    text-transform:lowercase;
}

.bookrating {
    width:20px;
    height:auto;
}

.rating-filled {
    filter: hue-rotate(250deg);
}

.rating-unfilled {
    filter: grayscale(1);
}

li[type="checkbox"] {
    display: none;
}

.toggle-label::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: .7rem;
  margin-left: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

input[type="checkbox"] {
    display: none;
}

.toggle-label {
  text-transform:uppercase;
  display: block;
  cursor: pointer;
  padding:10px;
  margin:0px;
}

.collapse-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.toggle-label + .toggle:checked + .collapse-content{
  max-height: none;
}
